:root {
    // Basic Button

    --color--basic--button--background--default: var(--colors-carasent--basic--500);
    --color--basic--button--background--disabled: var(--colors-carasent--disabled--100);
    --color--basic--button--background--focus: var(--colors-carasent--basic--600);
    --color--basic--button--background--active: var(--colors-carasent--basic--600);
    --color--basic--button--background--hover: var(--colors-carasent--basic--300);

    // --color--basic--button--border--default: ;
    // --color--basic--button--border--disabled: ;
    // --color--basic--button--border--active: ;
    // --color--basic--button--border--focus: ;
    // --color--basic--button--border--hover: ;

    --color--basic--button--text--default: var(--colors-cardea--white);
    --color--basic--button--text--disabled: var(--colors-cardea--grey-004);
    --color--basic--button--text--focus: var(--colors-cardea--white);
    --color--basic--button--text--active: var(--colors-cardea--white);
    --color--basic--button--text--hover: var(--colors-cardea--black-001);

    // Danger Button

    --color--danger--button--background--default: var(--colors-cardea--white);
    --color--danger--button--background--disabled: var(--colors-carasent--disabled--100);
    --color--danger--button--background--active: var(--colors-carasent--red--200);
    --color--danger--button--background--focus: var(--colors-carasent--red--200);
    --color--danger--button--background--hover: var(--colors-carasent--red--100);

    --color--danger--button--border--default: var(--colors-cardea--grey-003);
    --color--danger--button--border--disabled: var(--colors-cardea--grey-003);
    --color--danger--button--border--active: var(--colors-cardea--grey-003);
    --color--danger--button--border--focus: var(--colors-cardea--grey-003);
    --color--danger--button--border--hover: var(--colors-cardea--grey-003);

    --color--danger--button--text--default: var(--colors-cardea--black-001);
    --color--danger--button--text--disabled: var(--colors-cardea--grey-004);
    --color--danger--button--text--active: var(--colors-cardea--white);
    --color--danger--button--text--focus: var(--colors-cardea--white);
    --color--danger--button--text--hover: var(--colors-cardea--white);
    // Modal
}
