:root {
    // Cardea Pallete

    --colors-cardea--grey-002: 240deg 10% 96%; //#F4F4F6;
    --colors-cardea--grey-003: 213deg 16% 75%; // #B5BEC9;
    --colors-cardea--grey-004: 216deg 16% 65%; // #98A3B4;
    --colors-cardea--black-001: 220deg 15% 12%; // #1A1D23;
    --colors-cardea--black-002: 211deg 19% 22%; // #2E3843;

    --colors-cardea--white: 0deg 0% 100%; // #FFFFFF;

    // Carasent Collors Pallete

    --colors-carasent--basic--100: 197deg 32% 93%; // #E7F0F3; !!
    --colors-carasent--basic--200: 197deg 32% 84%; // #C9DCE4; !!
    --colors-carasent--basic--300: 197deg 32% 75%; // #ABC8D4;
    --colors-carasent--basic--400: 197deg 32% 64%; // #86B0C1; !!
    --colors-carasent--basic--500: 197deg 32% 53%; // #6198AE;
    --colors-carasent--basic--600: 197deg 32% 44%; // #4C7F93;
    --colors-carasent--basic--700: 197deg 32% 35%; // #406B7D; !!

    --colors-carasent--disabled--100: 197deg 13% 56%; // #81969E;

    --colors-carasent--brand: 199deg 64% 39%; // #247BA3;

    --colors-carasent--red--100: 0deg 61% 55%; // #D24545;
    --colors-carasent--red--200: 0deg 42% 49%; // #B14848;

    // Green Pallete

    --color-custom-green-normal: 156deg 18% 65%;
    --color-custom-green-light: 156deg 18% 73%; // #adc6bc;
    --color-custom-green-lighter: 156deg 18% 81%;
}
