.root {
    @apply flex h-10 w-full items-center justify-around gap-3 rounded-lg border-0 border-none border-transparent px-2.5 outline-none transition ease-in-out duration-300;

    background-color: hsl(var(--color--basic--button--background--default));

    &:disabled {
        background-color: hsl(var(--color--basic--button--background--disabled));

        .title {
            color: hsl(var(--color--basic--button--text--disabled));
        }
    }

    &:focus:not(:disabled) {
        background-color: hsl(var(--color--basic--button--background--focus));

        .title {
            color: hsl(var(--color--basic--button--text--focus));
        }
    }

    &:active:not(:disabled) {
        background-color: hsl(var(--color--basic--button--background--active));

        .title {
            color: hsl(var(--color--basic--button--text--active));
        }
    }

    &:hover:not(:disabled),
    &:hover:not(:disabled):not(:active),
    &:hover:not(:disabled):not(:focus) {
        background-color: hsl(var(--color--basic--button--background--hover));

        .title {
            color: hsl(var(--color--basic--button--text--hover));
        }
    }
}

.title {
    @apply truncate text-base font-semibold leading-5;

    color: hsl(var(--color--basic--button--text--default));
}
