button.x-button-wrapper {
    @apply shadow-x-shadow rounded-sm border border-transparent text-black transition duration-300 ease-in-out;

    &.ant-btn-default {
    @apply focus-within:border-gama-600
        focus-within:bg-gama-600 hover:border-gama-600 hover:bg-gama-600
        focus:border-gama-600 focus:bg-gama-600 active:border-gama-600
        active:bg-gama-600 border-gama-500 focus-within:text-textcolor-component
        hover:text-textcolor-component focus:text-textcolor-component active:text-textcolor-component #{!important};
    }

    &.ant-btn-primary {
        @apply text-textcolor-component;
        @apply hover:bg-gama-600 active:bg-gama-600 bg-gama-500
        text-textcolor-component hover:border-transparent
        hover:text-textcolor-component focus:border-gama-700
        focus:bg-gama-500;
    }

    &:disabled,
    &.ant-btn-default:disabled,
    &.ant-btn-primary:disabled {
        @apply cursor-default border border-transparent bg-gray-300 text-gray-500
        hover:bg-gray-300 hover:text-gray-500 
        focus:bg-gray-300 focus:text-gray-500 #{!important};
    }
}
