:root {
    --top-bar-height: 56px;
    --side-bar-width: 256px;

    //  // // //
    // Colors //
    //  // // //
    --colors-text: #4c4c4c;
    //
    --colors-red-100: #fdeae9;
    --colors-red-500: #ef4444;
    --colors-red-700: #871e17;
    //
    --colors-gray-100: #f5f5f5;
    --colors-gray-200: #c8ced7;
    --colors-gray-250: #98a3b4;
    --colors-gray-300: #586782;
    --colors-gray-500: #606671;
    --colors-gray-700: #575757;
    --colors-gray-800: #4c4c4c;
    --colors-gray-900: #363e4a;
    --colors-gray-9000: #1a1d23;
    --colors-gray-10000: black;
    //
    --colors-grass-green-100: #edfcfc;
    --colors-grass-green-200: #f3fcf8;
    --colors-grass-green-300: #c0e9b6b6;
    --colors-grass-green-500: #1e7f4d; // advoca-secondary-color (alpha)
    --colors-grass-green-600: #1b7245;
    --colors-grass-green-700: #0b6f3b;
    //
    --colors-green-100: #fefefe;
    --colors-green-200: #deebe5;
    --colors-green-300: #b6e9d2b6;
    --colors-green-400: #bae1d6; //advoca-badge-color
    --colors-green-500: #adc6bc;
    --colors-green-600: #9bb1a8;
    --colors-green-700: #667670;
    //

    --colors-slate-100: #d0dee5;
    --colors-slate-500: #9fbcca;
    --colors-slate-700: #6e9aaf;

    //
    --colors-blue-100: #e7eafa;
    --colors-blue-500: rgb(59 130 246 / 0.2); // advoca-secondary-color (gama)
    --colors-blue-600: #0063db; //skyline-color
    --colors-blue-700: #223399;

    //  // // // // //  //
    // themming default //
    //  // // // // //  //
    --colors-text-component: #ffffff;
    //
    --colors-alpha-100: var(--colors-blue-100);
    --colors-alpha-500: var(--colors-blue-500);
    --colors-alpha-600: var(--colors-blue-600);
    --colors-alpha-700: var(--colors-blue-700);
    //
    --colors-beta-100: var(--colors-grass-green-100);
    --colors-beta-500: var(--colors-grass-green-500);
    --colors-beta-700: var(--colors-grass-green-700);
    //
    --colors-gama-100: var(--colors-grass-green-100);
    --colors-gama-200: var(--colors-grass-green-200);
    --colors-gama-300: var(--colors-grass-green-300);
    --colors-gama-500: var(--colors-grass-green-500);
    --colors-gama-600: var(--colors-grass-green-600);
    --colors-gama-700: var(--colors-grass-green-700);
    //
    --colors-delta-100: var(--colors-gray-100);
    --colors-delta-200: var(--colors-gray-200);
    --colors-delta-250: var(--colors-gray-250);
    --colors-delta-300: var(--colors-gray-300);
    --colors-delta-500: var(--colors-gray-500);
    --colors-delta-700: var(--colors-blue-700);
    --colors-delta-800: var(--colors-gray-800);
    --colors-delta-900: var(--colors-gray-900);
    --colors-delta-9000: var(--colors-gray-9000);
    --colors-delta-10000: var(--colors-gray-10000);
}

[data-theme='default'] {
    //  // // // // // //
    // themming advoca //
    //  // // // // // //
    --colors-text-component: #ffffff;
    //
    --colors-alpha-100: var(--colors-blue-100);
    --colors-alpha-500: var(--colors-blue-500);
    --colors-alpha-600: var(--colors-blue-600);
    --colors-alpha-700: var(--colors-blue-700);
    //
    --colors-beta-100: var(--colors-grass-green-100);
    --colors-beta-500: var(--colors-grass-green-500);
    --colors-beta-700: var(--colors-grass-green-700);
    //
    --colors-gama-100: var(--colors-grass-green-100);
    --colors-gama-200: var(--colors-grass-green-200);
    --colors-gama-300: var(--colors-grass-green-300);
    --colors-gama-500: var(--colors-grass-green-500);
    --colors-gama-600: var(--colors-grass-green-600);
    --colors-gama-700: var(--colors-grass-green-700);
    //
    --colors-delta-100: var(--colors-gray-100);
    --colors-delta-200: var(--colors-gray-200);
    --colors-delta-250: var(--colors-gray-250);
    --colors-delta-300: var(--colors-gray-300);
    --colors-delta-500: var(--colors-gray-500);
    --colors-delta-700: var(--colors-blue-700);
    --colors-delta-800: var(--colors-gray-800);
    --colors-delta-900: var(--colors-gray-900);
    --colors-delta-9000: var(--colors-gray-9000);
    --colors-delta-10000: var(--colors-gray-10000);
}

[data-theme='fretex'] {
    //  // // // // // //
    // themming fretex //
    //  // // // // // //
    --colors-text-component: black;

    --colors-alpha-100: var(--colors-slate-100);
    --colors-alpha-500: var(--colors-slate-500);
    --colors-alpha-600: var(--colors-slate-500);
    --colors-alpha-700: var(--colors-slate-700);
    //
    --colors-beta-100: var(--colors-red-100);
    --colors-beta-500: var(--colors-red-500);
    --colors-beta-700: var(--colors-red-700);
    //
    --colors-gama-100: var(--colors-green-100);
    --colors-gama-200: var(--colors-green-200);
    --colors-gama-300: var(--colors-green-300);
    --colors-gama-500: var(--colors-green-500);
    --colors-gama-600: var(--colors-green-600);
    --colors-gama-700: var(--colors-green-700);
    //
    --colors-delta-100: var(--colors-gray-100);
    --colors-delta-200: var(--colors-gray-200);
    --colors-delta-250: var(--colors-gray-250);
    --colors-delta-300: var(--colors-gray-300);
    --colors-delta-500: var(--colors-gray-500);
    --colors-delta-700: var(--colors-gray-700);
    --colors-delta-800: var(--colors-gray-800);
    --colors-delta-900: var(--colors-gray-900);
    --colors-delta-9000: var(--colors-gray-9000);
    --colors-delta-10000: var(--colors-gray-10000);
}
