.root {
    @apply box-border flex h-10 w-full items-center justify-around gap-3 rounded-lg border border-solid px-2.5 outline-none transition ease-in-out duration-300;

    background-color: hsl(var(--color--danger--button--background--default));
    border-color: hsl(var(--color--danger--button--border--default));

    &:disabled {
        background-color: hsl(var(--color--danger--button--background--disabled));
        border-color: hsl(var(--color--danger--button--border--disabled));

        .title {
            color: hsl(var(--color--danger--button--text--disabled));
        }
    }

    &:focus:not(:disabled) {
        background-color: hsl(var(--color--danger--button--background--focus));
        border-color: hsl(var(--color--danger--button--border--focus));

        .title {
            color: hsl(var(--color--danger--button--text--focus));
        }
    }

    &:active:not(:disabled) {
        background-color: hsl(var(--color--danger--button--background--active));
        border-color: hsl(var(--color--danger--button--border--active));

        .title {
            color: hsl(var(--color--danger--button--text--active));
        }
    }

    &:hover:not(:disabled),
    &:hover:not(:disabled):not(:active),
    &:hover:not(:disabled):not(:focus) {
        background-color: hsl(var(--color--danger--button--background--hover));
        border-color: hsl(var(--color--danger--button--border--hover));

        .title {
            color: hsl(var(--color--danger--button--text--hover));
        }
    }
}

.title {
    @apply truncate text-base font-semibold leading-5;

    color: hsl(var(--color--danger--button--text--default));
}
