.xselect-wrapper {
    @apply min-h-[46px] min-w-[300px] rounded-lg border-gray-700 text-base shadow-none ring-1 ring-transparent
	hover:border-gray-700
	focus:border-gray-700 focus:shadow-none focus:ring-transparent
	active:border-gray-700 active:ring-transparent;

    &.ant-select:not(.ant-select-customize-input) > div.ant-select-selector {
        @apply min-h-[46px]  min-w-[300px] rounded-lg border-gray-700 text-base shadow-none ring-1 ring-transparent
		hover:border-gray-700
		focus:border-gray-700 focus:shadow-none focus:ring-transparent
		active:border-gray-700 active:ring-transparent;

        .ant-select-selection-item {
            @apply flex  min-h-[46px] items-center;
        }

        .ant-select-selection-search {
            & > input.ant-select-selection-search-input {
                @apply flex  min-h-[46px] items-center border-none shadow-none ring-0
				focus:border-none focus:shadow-none focus:ring-0
				active:border-none active:shadow-none active:ring-0 #{!important};
            }
        }

        .ant-select-selection-placeholder {
            @apply flex  min-h-[46px] items-center italic text-gray-500;
        }
    }

    .ant-select-arrow {
        @apply right-5 w-3;
    }

    .ant-select-clear {
        @apply top-[45%];
    }

    &.gama-color {
        @apply ring-1 focus:ring-gama-700;
    }

    &.ant-select-focused {
        &.ant-select:not(.ant-select-customize-input) > div.ant-select-selector {
            @apply min-h-[46px]  min-w-[300px] rounded-lg border-gray-700 text-base shadow-none ring-1 ring-gama-700;
        }
    }

    &.ant-select-disabled {
        &.ant-select:not(.ant-select-customize-input) > div.ant-select-selector {
            @apply cursor-default border-transparent text-gray-500 #{!important};

            input {
                @apply cursor-default text-delta-800;
            }
        }

        .ant-select-arrow {
            @apply hidden;
        }
    }
}

// dropdown
.xselect-popup-wrapper {
    div > div:nth-child(2) > div > div > div > div {
        @apply p-2;
    }

    .ant-select-item.ant-select-item-option.ant-select-item-option-selected {
        @apply bg-gama-700 text-white;
    }
}
